# Core functionality - changes here should be rare!
/src/app.py                   @hannings30
/src/backend/database.py      @hannings30
/src/backend/routers/auth.py  @hannings30

# The frontend will need refactored soon to be more object oriented.
/src/static/   @hannings30
